
@keyframes floatDown {
  from {
      top: 0;
      opacity: 1;
  }
  to {
      top: 100px;
      opacity: 0;
  }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.periodContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;

  .period {
    font-family: Impact;
    font-size: 30vw;
    color: red;
    animation: tilt-n-move-shaking 0.15s infinite;
  }
}

@keyframes spinTenTimes {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(1000deg); }
}

@keyframes spinOnce {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.spinOnce {
  animation: spinOnce 0.5s ease-in-out;
}

@keyframes curlyPath {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
      transform: translate(150px, 150px) rotate(90deg);
  }
  50% {
      transform: translate(300px, 0) rotate(180deg);
  }
  75% {
      transform: translate(150px, -150px) rotate(270deg);
  }
  100% {
      transform: translate(0, 0) rotate(360deg);
  }
}

.charContainer {
  /* font-family: monospace; */
  z-index: 2;
}

.fallingChar {
  position: absolute;
  top: 0;
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: floatDown 1s ease forwards;
}

.shrinkingChar {
  position: fixed;
  /* removing here to include it in the typescript */
  /* animation: shrink 1s ease forwards; */
}

.shrinkAndSpinChar {
  font-size: 100vw; /* Initially as big as the viewport width */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shrink 1s ease forwards, spinTenTimes 1s ease forwards;
}

.curlyChar {
  font-size: 100vw; /* Initially as big as the viewport width */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shrink 1s ease forwards, spinTenTimes 1s ease forwards, curlyPath 1s infinite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  font-family: monospace;
}

.textArea {
  width: 100%;
  height: 100%;
  padding: 1em;
  border: none;
  font-size: 14px;
  max-width: 500px;
  max-height: 500px;
}

.checkbox {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.checkbox > * {
  margin: 0.5em;
}