
@keyframes floatDown {
  from {
      top: 0;
      opacity: 1;
  }
  to {
      top: 100px;
      opacity: 0;
  }
}

/* 
@keyframes shrink {
  from {
      font-size: 100vw;
  }
  to {
      font-size: 0;
      top: 0;
      left: 0;
  }
} */

@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(1000deg); }
}

@keyframes curlyPath {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
      transform: translate(150px, 150px) rotate(90deg);
  }
  50% {
      transform: translate(300px, 0) rotate(180deg);
  }
  75% {
      transform: translate(150px, -150px) rotate(270deg);
  }
  100% {
      transform: translate(0, 0) rotate(360deg);
  }
}

.charContainer {
  /* font-family: monospace; */
  z-index: 2;
}

.fallingChar {
  position: absolute;
  top: 0;
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: floatDown 1s ease forwards;
}

.shrinkingChar {
  font-size: 100vw; /* Initially as big as the viewport width */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* removing here to include it in the typescript */
  /* animation: shrink 1s ease forwards; */
}

.shrinkAndSpinChar {
  font-size: 100vw; /* Initially as big as the viewport width */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shrink 1s ease forwards, spin 1s ease forwards;
}

.curlyChar {
  font-size: 100vw; /* Initially as big as the viewport width */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shrink 1s ease forwards, spin 1s ease forwards, curlyPath 1s infinite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

.textArea {
  width: 100%;
  height: 100%;
  padding: 1em;
  border: none;
  font-size: 14px;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
}

.textArea:focus {
  outline: none;
}

.header {
  font-family: monospace;
}

.checkbox {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.checkbox > * {
  margin: 0.5em;
}